<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-29 10:43:48
 * @LastEditTime: 2019-08-31 15:05:15
 * @LastEditors: Please set LastEditors
 -->
<script type="text/javascript" src="__ADMIN__lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN__lib/layer/3.1.1/layer.js"></script>
<script type="text/javascript" src="__ADMIN__static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ADMIN__static/h-ui.admin.pro/js/h-ui.admin.pro.iframe.min.js"></script>
<script src="__ADMIN__layui/layui.js"></script>
<script src="__ADMIN__admin.js"></script>
